@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body, button {
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
header .logo {
  width: 50%;
  margin: 0% 0% 2%;
}
header nav {
  position: absolute;
  left: 1%;
  top: 5px;
  font-size: 21px;
}
header .fa-arrow-left {
  color: #000;
}

.entête {
  width: 100%;
  position: absolute;
  top: 3%;
  z-index: -1;
}

.carte {
  background: #dfdfdf;
  margin: 59% 0% 0%;
  border-radius: 8% 8% 0% 0%/3% 3% 0% 0%;
  padding: 3%;
  overflow: hidden;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.titre::after {
  content: "";
  background: #99E2D0;
  display: block;
  height: 4px;
  width: 40px;
}

.enseigne, .menu {
  position: relative;
}
.enseigne p, .menu p {
  color: #000;
}
.enseigne button, .menu button {
  border: none;
  background: none;
  font-size: 30px;
  position: absolute;
  top: 0%;
  right: 13%;
}
.enseigne button i, .menu button i {
  position: absolute;
  transition: 500ms ease-in-out;
}
.enseigne button .fas, .menu button .fas {
  opacity: 0;
  color: transparent;
  background: linear-gradient(174deg, #FF79DA, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
.enseigne button:active .far, .menu button:active .far {
  opacity: 0;
}
.enseigne button:active .fas, .menu button:active .fas {
  opacity: 1;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
  }
}
.case {
  display: flex;
  background: #FFF;
  position: relative;
  margin: 3% 0%;
  border-radius: 2% 2% 2% 2%/15% 15% 15% 15%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 50px;
  overflow: hidden;
  animation: show 1000ms ease-in-out both;
  box-sizing: border-box;
}
.case .choix {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 50px);
  padding: 0% 0% 0% 2%;
}
.case p {
  margin: 1% 0%;
}
.case .intituler {
  font-size: 18px;
  font-weight: 600;
}
.case .ingrédiant {
  font-size: 15px;
  font-weight: 400;
}
.case .prix {
  font-weight: 600;
  padding: 0% 4%;
  display: flex;
  align-items: flex-end;
}
.case .valid {
  visibility: hidden;
  position: relative;
  font-size: 13px;
  bottom: 15px;
  left: 12px;
  background: #99E2D0;
  padding-block: 8%;
  transition: all 200ms;
}
.case .fas {
  color: #FFF;
  position: absolute;
  left: 21%;
  top: 51%;
  transform: rotate(95deg);
}
.case.n2 {
  animation-delay: 500ms;
}
.case.n3 {
  animation-delay: 1000ms;
}
.case.n4 {
  animation-delay: 1500ms;
}
.case:active .valid {
  visibility: visible;
  padding-inline: 17px;
  margin: 0% 0% 0% 5%;
  transform-origin: right;
  transform: scale(1.7);
}
.case:active .fas {
  transition: 500ms;
  transform: rotate(0deg);
}

.commander {
  border: none;
  display: block;
  margin: 13% auto;
  border-radius: 9%/50%;
  width: 70%;
  height: 46px;
  background: linear-gradient(174deg, #FF79DA, #9356DC 100%);
}
.commander p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0%;
}
.commander:hover {
  background: linear-gradient(174deg, #fface8, #ae80e5 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* accueil uniquement*/
@keyframes disparait {
  0% {
    z-index: 2;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes charge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.changement {
  background: #dbdbdb;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: disparait 800ms ease-in-out 3s both;
}
.changement p {
  color: #FF79DA;
  position: absolute;
  font-size: 60px;
  top: 2%;
  left: 20%;
}
.changement span {
  width: 172px;
  height: 172px;
  display: flex;
  position: relative;
  top: 7%;
  left: 25%;
  color: transparent;
}
.changement span::before {
  border-radius: 50px;
  border: 6px solid #a1a1a1;
}
.changement span::after {
  content: "";
  position: absolute;
  top: 19%;
  left: 19%;
  bottom: 19%;
  right: 19%;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-top-color: #99E2D0;
  animation: charge 1s linear infinite;
}

#page_d_accueil {
  margin: auto;
}

.carte_interactive {
  margin: 0% auto;
  background: #dfdfdf;
  padding: 0% 0% 1% 0%;
  text-align: center;
}
.carte_interactive .localisation {
  background: #cfcfcf;
  padding: 3%;
  margin: 0%;
  font-size: 15px;
}
.carte_interactive .Réservez {
  font-weight: 600;
  font-size: 30px;
  margin: 5% 9% 2%;
}
.carte_interactive p {
  margin: 0% 1%;
  font-size: 18px;
}
.carte_interactive .commander {
  padding: 4% 7%;
  font-size: 18px;
  color: #FFF;
}

@keyframes fond {
  0% {
    background: #dbdbdb;
  }
  50% {
    background: #e4d5f6;
  }
  100% {
    background: #dbdbdb;
  }
}
@keyframes icone {
  0% {
    color: #000;
  }
  50% {
    color: #9356DC;
  }
  100% {
    color: #000;
  }
}
.fonctionnement ul {
  list-style: none;
  counter-reset: listCounter;
  padding: 0%;
}
.fonctionnement ul li {
  position: relative;
  color: #000;
  counter-increment: listCounter;
  background: #dbdbdb;
  border-radius: 4% 4% 4% 4%/20% 20% 20% 20%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 5% 0%;
  padding: 5%;
  text-align: center;
  font-weight: 600;
  animation-name: show, fond;
  animation-duration: 1000ms, 4s;
  animation-delay: 4s, 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease-in-out;
}
.fonctionnement ul li i {
  animation: icone 4s both 3s infinite ease-in-out;
}
.fonctionnement ul li.n2 {
  animation-delay: 5s;
}
.fonctionnement ul li.n2 i {
  animation-delay: 5s;
}
.fonctionnement ul li.n3 {
  animation-delay: 6s;
}
.fonctionnement ul li.n3 i {
  animation-delay: 6s;
}
.fonctionnement ul li ::before {
  position: absolute;
  bottom: 33%;
  left: 9%;
}
.fonctionnement ul li ::after {
  content: counter(listCounter);
  background: #9356DC;
  border-radius: 50%/50%;
  width: 7%;
  height: 40%;
  justify-content: center;
  align-items: center;
  color: #FFF;
  display: flex;
  position: absolute;
  right: 97%;
  bottom: 29%;
  font-size: 65%;
}

.restaurants {
  background: #dbdbdb;
}

.restaurants, .fonctionnement {
  padding: 3%;
}
.restaurants h1, .fonctionnement h1 {
  font-family: "Roboto", sans-serif;
}
.restaurants h1, .restaurants h2, .fonctionnement h1, .fonctionnement h2 {
  font-weight: 600;
  font-size: 24px;
}

.menu {
  position: relative;
}
.menu .favori {
  background: #FFF;
  padding: 0% 0% 2% 0%;
  margin: 0% 0% 4% 0%;
  border-radius: 4% 4% 4% 4%/6% 6% 6% 6%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.menu .favori img {
  width: 100%;
  height: 200px;
  border-radius: 4% 4% 0% 0%/6% 6% 0% 0%;
}
.menu .favori .noms {
  font-weight: 900;
}
.menu .favori .lieu {
  font-size: 12px;
}
.menu .favori .noms, .menu .favori .lieu {
  font-size: 14px;
  margin: 1% 0% 2% 2%;
}
.menu .favori .nouveau {
  background: #99E2D0;
  color: #278870;
  width: 25%;
  height: 10%;
  font-weight: 600;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0%;
  right: 4%;
  z-index: 1;
}
.menu .accueil {
  top: 83%;
}

footer {
  background: #000000d1;
  color: #FFF;
  display: flex;
  flex-flow: column;
  padding: 4%;
}
footer .myfood {
  font-family: "Shrikhand", cursive;
  margin: 0% 0% 3% 0%;
}
footer a {
  color: #FFF;
  margin: 1% 0%;
}
footer i {
  margin: 0% 2% 0% 0%;
}
footer .fa-utensils {
  margin: 0% 4% 0% 0%;
}
footer .fa-handshake {
  transform: rotate(321deg);
}

@media (min-width: 426px) and (max-width: 768px) {
  header nav {
    font-size: 43px;
  }

  h1 {
    font-size: 50px;
    font-weight: 400;
  }

  .titre {
    font-size: 32px;
  }
  .titre::after {
    height: 5px;
    width: 82px;
  }

  .changement p {
    font-size: 100px;
    left: 27%;
  }
  .changement span {
    width: 300px;
    height: 300px;
    top: 8%;
    left: 28%;
  }

  .carte_interactive p {
    font-size: 42px;
  }
  .carte_interactive .localisation {
    font-size: 26px;
  }
  .carte_interactive .Réservez {
    font-size: 52px;
  }
  .carte_interactive .commander {
    font-size: 37px;
    width: 70%;
  }

  .commander {
    height: 96px;
    width: 60%;
    border-radius: 10%/50%;
  }
  .commander p {
    font-size: 40px;
  }

  .restaurants h1, .restaurants h2, .fonctionnement h1, .fonctionnement h2 {
    font-size: 50px;
  }

  .fonctionnement ul li {
    font-size: 30px;
  }
  .fonctionnement ul li ::after {
    width: 8%;
    height: 48%;
    right: 96%;
    bottom: 24%;
    font-size: 100%;
  }

  .menu .favori img {
    object-fit: cover;
    height: 340px;
  }
  .menu .favori .noms, .menu .favori .lieu {
    font-size: 26px;
  }
  .menu .favori .nouveau {
    font-size: 23px;
  }
  .menu .accueil {
    top: 80%;
    font-size: 50px;
  }

  footer p {
    font-size: 26px;
  }
  footer a {
    font-size: 22px;
  }

  .enseigne button, .menu button {
    font-size: 55px;
  }

  .case {
    height: 68px;
  }
  .case .intituler {
    font-size: 22px;
  }
  .case .ingrédiant {
    font-size: 19px;
  }
  .case .prix {
    font-size: 23px;
  }
  .case .valid {
    bottom: 40px;
    left: 15px;
  }
  .case:active .valid {
    transform: scale(2.5);
  }
}
@media (min-width: 769px) and (max-width: 1439px) {
  header nav {
    font-size: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .titre {
    font-size: 40px;
  }
  .titre::after {
    height: 5px;
    width: 102px;
  }

  .changement p {
    font-size: 210px;
    left: 3%;
    margin: 0%;
  }
  .changement span {
    width: 700px;
    height: 700px;
    left: 0%;
  }

  .carte_interactive p {
    font-size: 42px;
  }
  .carte_interactive .localisation {
    font-size: 47px;
  }
  .carte_interactive .Réservez {
    font-size: 64px;
  }
  .carte_interactive .commander {
    font-size: 40px;
    width: 56%;
    padding: inherit;
  }

  .commander {
    height: 80px;
    width: 40%;
    border-radius: 10%/50%;
  }
  .commander p {
    font-size: 40px;
  }

  .restaurants h1, .restaurants h2, .fonctionnement h1, .fonctionnement h2 {
    font-size: 50px;
  }

  .fonctionnement ul li {
    font-size: 45px;
  }

  .menu .favori img {
    height: 450px;
  }
  .menu .favori .noms, .menu .favori .lieu {
    font-size: 35px;
  }
  .menu .favori .nouveau {
    font-size: 35px;
  }
  .menu .accueil {
    top: 82%;
    font-size: 50px;
  }

  footer p {
    font-size: 40px;
  }
  footer a {
    font-size: 30px;
  }

  .enseigne button, .menu button {
    font-size: 50px;
    top: 8%;
  }

  .case {
    height: 106px;
  }
  .case .intituler {
    font-size: 40px;
  }
  .case .ingrédiant {
    font-size: 33px;
  }
  .case .prix {
    font-size: 35px;
  }
  .case .valid {
    bottom: 40px;
    left: 15px;
  }
  .case .fas {
    left: 25%;
    top: 56%;
  }
  .case:active .valid {
    transform: scale(3);
  }
}
@media (min-width: 1440px) {
  header nav {
    font-size: 90px;
  }

  h1 {
    font-size: 100px;
  }

  .titre {
    font-size: 70px;
  }
  .titre::after {
    height: 10px;
    width: 180px;
  }

  .changement p {
    font-size: 220px;
    left: 25%;
    margin: 0%;
  }
  .changement span {
    width: 1000px;
    height: 1000px;
    top: 3%;
    left: 17%;
  }

  .carte_interactive p {
    font-size: 70px;
  }
  .carte_interactive .localisation {
    font-size: 47px;
  }
  .carte_interactive .Réservez {
    font-size: 100px;
  }
  .carte_interactive .commander {
    font-size: 67px;
    width: 63%;
    padding: inherit;
  }

  .commander {
    height: 164px;
    width: 55%;
    border-radius: 10%/50%;
  }
  .commander p {
    font-size: 70px;
  }

  .restaurants h1, .restaurants h2, .fonctionnement h1, .fonctionnement h2 {
    font-size: 90px;
  }

  .fonctionnement ul li {
    font-size: 70px;
  }

  .menu .favori img {
    height: 510px;
  }
  .menu .favori .noms, .menu .favori .lieu {
    font-size: 60px;
  }
  .menu .favori .nouveau {
    font-size: 45px;
  }
  .menu .accueil {
    top: 77%;
    font-size: 100px;
  }

  footer p {
    font-size: 50px;
  }
  footer a {
    font-size: 40px;
  }

  .enseigne button, .menu button {
    font-size: 80px;
    top: 20%;
  }

  .case {
    height: 150px;
  }
  .case .intituler {
    font-size: 50px;
  }
  .case .ingrédiant {
    font-size: 45px;
  }
  .case .prix {
    font-size: 45px;
  }
  .case .valid {
    bottom: 40px;
    left: 15px;
  }
  .case .fas {
    left: 25%;
    top: 48%;
  }
  .case:active .valid {
    transform: scale(4.5);
  }
}

/*# sourceMappingURL=style.css.map */
