@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
$Back: #FFF;
body, button{
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0% 0% 55% 0%;
    .logo{
        width: 50%;
    }
    nav{
        position: absolute;
        left: 1%;
        top: 5px;
        font-size: 21px;
    }
    .fa-arrow-left{
        color: #000;
    }
}
.entête{
    width: 100%;
    position: absolute;
    top: 3%;
    z-index: -1;
}
.carte{
    background: #dfdfdf;
    border-radius:8% 8% 0% 0%/3% 3% 0% 0%;
    padding: 3%;
    overflow: hidden;
}
h1{
    font-family: 'Shrikhand', cursive;
}
.titre::after{
    content: '';
    background: $Tertiaire;
    display: block;
    height: 4px;
    width: 40px;
}
.enseigne,.menu{
    p{
       color: #000; 
    }
    button{
        border: none;
        background: none;
        font-size: 30px;
        position: absolute;
        top: 23%; right: 13%;
        i{
            position: absolute;
            transition: 500ms ease-in-out;
        }
        .fas{
            opacity: 0;
            color: transparent;
            background: linear-gradient(174deg, $Secondaire, $Primaire 100%);
            background-clip: text;
            -webkit-background-clip: text;
        }
        &:active{
            .far {
                opacity:0;
            }
            .fas{
                opacity:1;
            }
        }
    }
}
@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
    }
}
.case{
    display: flex;
    background: $Back;
    position: relative;
    margin: 3% 0%;
    padding: 3%;
    border-radius: 4% 4% 4% 4%/15% 15% 15% 15%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height: 40px;
    animation: show 1000ms ease-in-out both;
    p{
        margin: 1% 0%;
    }
    .intituler{
        font-size: 17px;
        font-weight: 600;
    }
    .ingrédiant{
        font-size: 16px;
        font-weight: 400;
    }
    .prix{
        margin-left: auto;
        margin-top: 7%;
        margin-right: 3%;
        font-weight: 600;
    }
    .valid{
        visibility: hidden;
        position: relative;
        font-size: 13px;
        bottom: 15px;
        left: 12px;
        background: $Tertiaire;
        padding-block: 8%;
        transition: all 200ms;
    }
    .fas{
        color: #FFF;
        position: absolute;
        left: 11px;
        top: 27px;
        transform: rotate(95deg);
    }
    &.n2{
        animation-delay: 500ms;
    }
    &.n3{
        animation-delay: 1000ms;
    }
    &.n4{
        animation-delay: 1500ms;
    }
    &:active{
        .valid{
            visibility: visible;
            padding-inline: 17px;
            margin: 0% 0% 0% 5%;
            transform-origin: right;
            transform: scale(1.6);
        }
        .fas{
            transition: 500ms;
            transform: rotate(0deg);
        }
    }
}
.commander {
    border: none;
    display: block;
    margin: 13% auto;
    padding: 0% 12%;
    border-radius: 12% / 50%;
    background: linear-gradient(174deg, $Secondaire, $Primaire 100%);
    p{
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        margin: 14% 0%;
    }
    &:hover{
        background: linear-gradient(174deg,lighten($Secondaire,10%), lighten($Primaire,10%) 100%);
    }
}
/* accueil uniquement*/
#page_d_accueil{
    margin: auto;
}
.carte_interactive{
    margin: 0% auto;
    background: #dfdfdf;
    padding: 0% 0% 1% 0%;
    text-align: center;
    .localisation{
        background: #cfcfcf;
        padding: 3%;
        margin: 0%;
        font-size: 15px;
    }
    .Réservez{
        font-weight: 600;
        font-size: 30px;
        margin: 5% 14% 2%;
    }
    p{
        margin:  0% 2%;
        font-size: 20px;
    }
    .commander{
        padding: 4% 7%;
        font-size: 18px;
        color: #FFF;
    }
}
@keyframes fond {
    0%{
        background: #dbdbdb;
    
    }
    50%{
        background: lighten($Primaire, 30%);
    }
    100%{
        background: #dbdbdb;
    }
}
.fonctionnement{
    ul{
        list-style:none;
        counter-reset: listCounter;
        padding: 0%;
        li{
            position: relative;
            color: #000;
            counter-increment: listCounter;
            background: #dbdbdb;
            border-radius: 4% 4% 4% 4%/20% 20% 20% 20%;
            box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
            margin: 5% 0%;
            padding: 5%;
            text-align: center;
            font-weight: 600;
            animation-name: show, fond;
            animation-duration: 1000ms,4s;
            animation-delay: 0ms, 3s;
            animation-fill-mode: both;
            animation-iteration-count: 1,infinite;
            animation-timing-function: ease-in-out;
            &.n2{
                animation-delay: 1000ms;
            } 
            &.n3{
                animation-delay: 2000ms;
            }
            ::before{
                position: absolute;
                bottom: 33%;
                left: 9%;
            }
            ::after{
                content: counter(listCounter);
                background:$Primaire;
                border-radius: 50%/50%;
                width: 7%;
                height: 40%;
                justify-content: center;
                align-items: center;
                color: #FFF;
                display: flex;
                position: absolute;
                right: 97%;
                bottom: 29%;
                font-size: 65%;
            }
        }
    }
}
.restaurants{
    background: #dbdbdb;
}
.restaurants,.fonctionnement{
    padding: 3%;
    h1{
        font-family: 'Roboto', sans-serif;
    }
    h1,h2{
        font-weight: 600;
        font-size: 24px;
    }
}
.menu{
    position: relative;
    .favori{
        background: #FFF;
        padding: 0% 0% 2% 0%;
        margin: 0% 0% 4% 0%;
        border-radius: 4% 4% 4% 4%/6% 6% 6% 6%;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
        img{
            width: 100%;
            height: 200px;
            border-radius: 4% 4% 0% 0%/6% 6% 0% 0%;
        }
        .noms{
            font-weight: 900;
        }
        .lieu{
            font-size: 12px;
        }
        .noms,.lieu{
            font-size: 14px;
            margin: 1% 0% 2% 2%;
        }
    }
    .accueil{
        top:83%
    }
}
footer{
    background: #000000d1;
    color:#FFF;
    display: flex;
    flex-flow: column;
    padding: 4%;
    .myfood{
        font-family: 'Shrikhand', cursive;
        margin: 0% 0% 3% 0%;
    }
    a{
        color:#FFF;
        margin: 1% 0%;
    }
    i{
        margin: 0% 2% 0% 0%;
    }
    .fa-utensils{
        margin: 0% 4% 0% 0%;
    }
    .fa-handshake{
        transform: rotate(321deg);
    }
}