@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
$Back: #FFF;
body, button{
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    flex-flow: row;
    justify-content: center;
    .logo{
        width: 50%;
        margin: 0% 0% 2%;
    }
    nav{
        position: absolute;
        left: 1%;
        top: 5px;
        font-size: 21px;
    }
    .fa-arrow-left{
        color: #000;
    }
}
.entête{
    width: 100%;
    position: absolute;
    top: 3%;
    z-index: -1;
}
.carte{
    background: #dfdfdf;
    margin: 59% 0% 0%;
    border-radius:8% 8% 0% 0%/3% 3% 0% 0%;
    padding: 3%;
    overflow: hidden;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 27px;
}
.titre::after{
    content: '';
    background: $Tertiaire;
    display: block;
    height: 4px;
    width: 40px;
}
.enseigne,.menu{
    position: relative;
    p{
       color: #000; 
    }
    button{
        border: none;
        background: none;
        font-size: 30px;
        position: absolute;
        top: 0%; right: 13%;
        i{
            position: absolute;
            transition: 500ms ease-in-out;
        }
        .fas{
            opacity: 0;
            color: transparent;
            background: linear-gradient(174deg, $Secondaire, $Primaire 100%);
            background-clip: text;
            -webkit-background-clip: text;
        }
        &:active{
            .far {
                opacity:0;
            }
            .fas{
                opacity:1;
            }
        }
    }
}
@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
    }
}
.case{
    display: flex;
    background: $Back;
    position: relative;
    margin: 3% 0%;
    border-radius: 2% 2% 2% 2%/15% 15% 15% 15%;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    height: 50px;
    overflow:hidden;
    animation: show 1000ms ease-in-out both;
    box-sizing: border-box;
    .choix{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 50px);
        padding: 0% 0% 0% 2%;
    }
    p{
        margin: 1% 0%;
    }
    .intituler{
        font-size: 18px;
        font-weight: 600;
    }
    .ingrédiant{
        font-size: 15px;
        font-weight: 400;
    }
    .prix{
        font-weight: 600;
        padding: 0% 4%;
        display: flex;
        align-items: flex-end;
    }
    .valid{
        visibility: hidden;
        position: relative;
        font-size: 13px;
        bottom: 15px;
        left: 12px;
        background: $Tertiaire;
        padding-block: 8%;
        transition: all 200ms;
    }
    .fas{
        color: #FFF;
        position: absolute;
        left: 16%;
        top: 20%;
        transform: rotate(95deg);
    }
    &.n2{
        animation-delay: 500ms;
    }
    &.n3{
        animation-delay: 1000ms;
    }
    &.n4{
        animation-delay: 1500ms;
    }
    &:active{
        .valid{
            visibility: visible;
            padding-inline: 7%;
            margin: 0% 0% 0% 5%;
            transform-origin: right;
        }
        .fas{
            transition: 500ms;
            transform: rotate(0deg);
        }
    }
}
.commander {
    border: none;
    display: block;
    margin: 13% auto;
    border-radius: 9% / 50%;
    width: 70%;
    height: 46px;
    background: linear-gradient(174deg, $Secondaire, $Primaire 100%);
    p{
        font-size: 24px;
        font-weight: 400;
        color: #fff;
        margin: 0%;
    }
    &:hover{
        background: linear-gradient(174deg,lighten($Secondaire,10%), lighten($Primaire,10%) 100%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}
/* accueil uniquement*/
@keyframes disparait {
    0%{
        z-index: 2;
        opacity: 1;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}
@keyframes charge {
    0%{ 
        transform:rotate(0deg)
    }
    100%{ 
        transform: rotate(360deg);
    }
}
.changement{
    background: #dbdbdb;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: disparait 800ms ease-in-out 3s both;
    p{
        color: $Secondaire;
        position: absolute;
        font-size: 60px;
        top: 2%;
        left: 20%;
    }
    span{
        width: 172px;
        height: 172px;
        display: flex;
        position: relative;
        top: 7%;
        left: 25%;
        color: transparent;
    }
    span::before{
        border-radius: 50px;
        border: 6px solid #a1a1a1;
    }
    span::after{
        content: "";
        position: absolute;
        top: 19%;
        left: 19%;
        bottom: 19%;
        right: 19%;
        border-radius: 50%;
        border: 6px solid $Primaire;
        border-top-color: $Tertiaire;
        animation: charge 1s linear infinite;
    }
}
#page_d_accueil{
    margin: auto;
}
.carte_interactive{
    margin: 0% auto;
    background: #dfdfdf;
    padding: 0% 0% 1% 0%;
    text-align: center;
    .localisation{
        background: #cfcfcf;
        padding: 3%;
        margin: 0%;
        font-size: 15px;
    }
    .Réservez{
        font-weight: 600;
        font-size: 30px;
        margin: 5% 9% 2%;
    }
    p{
        margin: 0% 1%;
        font-size: 18px;
    }
    .commander{
        padding: 4% 7%;
        font-size: 18px;
        color: #FFF;
    }
}
@keyframes fond {
    0%{
        background: #dbdbdb;
    
    }
    50%{
        background: lighten($Primaire, 30%);
    }
    100%{
        background: #dbdbdb;
    }
}
@keyframes icone {
    0%{
        color: #000;
    
    }
    50%{
        color: $Primaire;
    }
    100%{
        color: #000;
    }
}
.fonctionnement{
    ul{
        list-style:none;
        counter-reset: listCounter;
        padding: 0%;
        li{
            position: relative;
            color: #000;
            counter-increment: listCounter;
            background: #dbdbdb;
            border-radius: 4% 4% 4% 4%/20% 20% 20% 20%;
            box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
            margin: 5% 0%;
            padding: 5%;
            text-align: center;
            font-weight: 600;
            animation-name: show, fond;
            animation-duration: 1000ms,4s;
            animation-delay: 4s, 3s;
            animation-fill-mode: both;
            animation-iteration-count: 1,infinite;
            animation-timing-function: ease-in-out;
            i{
                animation:icone 4s both 3s infinite ease-in-out;
            }
            &.n2{
                animation-delay: 5s;
                i{
                    animation-delay: 5s;
                }
            } 
            &.n3{
                animation-delay: 6s;
                i{
                    animation-delay: 6s;
                }
            }
            ::before{
                position: absolute;
                bottom: 33%;
                left: 9%;
            }
            ::after{
                content: counter(listCounter);
                background:$Primaire;
                border-radius: 50%/50%;
                width: 7%;
                height: 40%;
                justify-content: center;
                align-items: center;
                color: #FFF;
                display: flex;
                position: absolute;
                right: 97%;
                bottom: 29%;
                font-size: 65%;
            }
        }
    }
}
.restaurants{
    background: #dbdbdb;
}
.restaurants,.fonctionnement{
    padding: 3%;
    h1{
        font-family: 'Roboto', sans-serif;
    }
    h1,h2{
        font-weight: 600;
        font-size: 24px;
    }
}
.menu{
    position: relative;
    .favori{
        background: #FFF;
        padding: 0% 0% 2% 0%;
        margin: 0% 0% 4% 0%;
        border-radius: 4% 4% 4% 4%/6% 6% 6% 6%;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
        img{
            width: 100%;
            height: 200px;
            border-radius: 4% 4% 0% 0%/6% 6% 0% 0%;
        }
        .noms{
            font-weight: 900;
        }
        .lieu{
            font-size: 12px;
        }
        .noms,.lieu{
            font-size: 14px;
            margin: 1% 0% 2% 2%;
        }
        .nouveau{
            background:$Tertiaire;
            color:darken( $Tertiaire,40%);
            width: 25%;
            height: 10%;
            font-weight: 600;
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            top: 0%;
            right: 4%;
            z-index: 1;
        }
    }
    .accueil{
        top:83%
    }
}
footer{
    background: #000000d1;
    color:#FFF;
    display: flex;
    flex-flow: column;
    padding: 4%;
    .myfood{
        font-family: 'Shrikhand', cursive;
        margin: 0% 0% 3% 0%;
    }
    a{
        color:#FFF;
        margin: 1% 0%;
    }
    i{
        margin: 0% 2% 0% 0%;
    }
    .fa-utensils{
        margin: 0% 4% 0% 0%;
    }
    .fa-handshake{
        transform: rotate(321deg);
    }
}
@media (min-width:426px) and (max-width:768px) {
    header{
        nav{
            font-size: 43px;
        }
    }
    h1 {
        font-size: 50px;
        font-weight: 400;
    }
    .titre{
        font-size: 32px;
        &::after{
            height: 5px;
            width: 82px;
        }
    }
    .changement{
        p{
            font-size: 100px;
            left: 27%;
        }
        span{
            width: 300px;
            height: 300px;
            top: 8%;
            left: 28%;
        }
    }
    .carte_interactive{
         p {
            font-size: 42px;
        } 
        .localisation {
            font-size: 26px;
        }
        .Réservez {
            font-size: 52px;
        }
        .commander {
            font-size: 37px;
            width: 70%;
        }
    }
    .commander {
        height: 96px;
        width: 60%;
        border-radius: 10%/50%;
        p{
            font-size: 40px;
        }
    }
    .restaurants,.fonctionnement{
        h1,h2{
            font-size: 50px;
        }
    }
    .fonctionnement{
        ul{
            li{
                font-size: 30px;
                ::after{
                    width: 8%;
                    height: 48%;
                    right: 96%;
                    bottom: 24%;
                    font-size: 100%;
                }
            }
        }
    }
    .menu{
        .favori{
            img{
                object-fit: cover;
                height: 340px
            }
            .noms,.lieu{
                font-size: 26px;  
            }
            .nouveau{
                font-size: 23px;
            }
        }
        .accueil{
            top: 80%;
            font-size: 50px;
        }
    }
    footer{
        p{
            font-size: 26px;
        }
        a{
            font-size: 22px;
        }
    }
    .enseigne,.menu{
        button{
            font-size: 55px;
        }
    }
    .case{
        height: 68px;
        .intituler{
            font-size: 22px;
        }
        .ingrédiant{
            font-size: 19px;
        }
        .prix{
            font-size: 23px;
        }
        .valid{
            padding-inline: 5%;
        }
        .fas{
            left: 27%;
            top: 25%;
        }
    }
}
@media (min-width:769px)and (max-width:1439px){
    header{
        nav{
            font-size: 50px;
        }
    }
    h1 {
        font-size: 50px;
    }
    .titre{
        font-size: 40px;
        &::after{
            height: 5px;
            width: 102px;
        }
    }
    .changement{
        p{
            font-size: 210px;
            left: 3%;
            margin: 0%;
        }
        span{
            width: 700px;
            height: 700px;
            left: 0%;
        }
    }
    .carte_interactive{
         p {
            font-size: 42px;
        } 
        .localisation {
            font-size: 47px;
        }
        .Réservez {
            font-size: 64px;
        }
        .commander {
            font-size: 40px;
            width: 56%;
            padding: inherit;
        }
    }
    .commander {
        height: 80px;
        width: 40%;
        border-radius: 10%/50%;
        p{
            font-size: 40px;
        }
    }
    .restaurants,.fonctionnement{
        h1,h2{
            font-size: 50px;
        }
    }
    .fonctionnement{
        ul{
            li{
                font-size: 45px;
            }
        }
    }
    .écran{
        display: flex;
        flex-flow: row wrap;
    }
    .menu{
        position: relative;
        width: 45%;
        margin: 0% 2%;
        .favori{
            img{
                height: 450px;
            }
            .noms,.lieu{
                font-size: 35px;  
            }
            .nouveau{
                font-size: 35px;
                width: 34%;
            }
        }
        .accueil{
            top: 82%;
            font-size: 50px;
        }
    }
    footer{
        p{
            font-size: 40px;
        }
        a{
            font-size: 30px;
        }
    }
    .enseigne,.menu{
        button{
            font-size: 50px;
            top: 8%;
        }
    }
    .case{
        height: 106px;
        .intituler{
            font-size: 40px;
        }
        .ingrédiant{
            font-size: 33px;
        }
        .prix{
            font-size: 35px;
        }
        .valid{
            bottom: 40px;
            left: 15px;
        }
        .fas{
            left: 8px;
            top: 77px;
        }
        &:active{
            .valid{
                transform: scale(3);
            }
        }
    }
}
@media (min-width:1440px){
    header{
        nav{
            font-size: 90px;
        }
    }
    h1 {
        font-size: 100px;
    }
    .titre{
        font-size: 70px;
        &::after{
            height: 10px;
            width: 180px;
        }
    }
    .changement{
        p{
            font-size: 220px;
            left: 25%;
            margin: 0%;
        }
        span{
            width: 1000px;
            height: 1000px;
            top: 3%;
            left: 17%;
        }
    }
    .carte_interactive{
         p {
            font-size: 70px;
        } 
        .localisation {
            font-size: 47px;
        }
        .Réservez {
            font-size: 100px;
        }
        .commander {
            font-size: 67px;
            width: 63%;
            padding: inherit;
        }
    }
    .commander {
        height: 164px;
        width: 55%;
        border-radius: 10%/50%;
        p{
            font-size: 70px;
        }
    }
    .restaurants,.fonctionnement{
        h1,h2{
            font-size: 90px;
        }
    }
    .fonctionnement{
        ul{
            li{
                font-size: 70px;
            }
        }
    }
    .écran{
        display: flex;
        flex-flow: row wrap;
    }
    .menu{
        position: relative;
        width: 45%;
        margin: 0% 2%;
        .favori{
            img{
                height: 510px;
            }
            .noms,.lieu{
                font-size: 50px;  
            }
            .nouveau{
                font-size: 45px;
                width: 31%;
            }
        }
        .accueil{
            top: 77%;
            font-size: 79px;
        }
    }
    footer{
        p{
            font-size: 50px;
        }
        a{
            font-size: 40px;
        }
    }
    .enseigne,.menu{
        button{
            font-size: 80px;
            top: 20%;
        }
    }
    .case{
        height: 150px;
        .intituler{
            font-size: 50px;
        }
        .ingrédiant{
            font-size: 45px;
        }
        .prix{
            font-size: 45px;
        }
        .valid{
            bottom: 40px;
            left: 15px;
        }
        .fas{
            left: 8px;
            top: 103px;
        }
        &:active{
            .valid{
                transform: scale(4.5);
            }
        }
    }
}