@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
$Back: #FFF;
body, button{
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0% 0% 55% 0%;
    .logo{
        width: 50%;
    }
    nav{
        position: absolute;
        left: 1%;
        top: 5px;
        font-size: 21px;
    }
    .fa-arrow-left{
        color: #000;
    }
}
.entête{
    width: 100%;
    position: absolute;
    top: 3%;
    z-index: -1;
}
.carte{
    background: #dfdfdf;
    border-radius:8% 8% 0% 0%/3% 3% 0% 0%;
    padding: 3%;
    overflow: hidden;
}
h1{
    font-family: 'Shrikhand', cursive;
}
.titre::after{
    content: '';
    background: $Tertiaire;
    display: block;
    height: 4px;
    width: 40px;
}
.enseigne{
    button{
        border: none;
        background: none;
        font-size: 30px;
        position: absolute;
        top: 23%; right: 13%;
        i{
            position: absolute;
            transition: 500ms ease-in-out;
        }
        .fas{
            opacity: 0;
            color: transparent;
            background: linear-gradient(174deg, $Secondaire, $Primaire 100%);
            background-clip: text;
            -webkit-background-clip: text;
        }
        &:active{
            .far {
                opacity:0;
            }
            .fas{
                opacity:1;
            }
        }
    }
}
@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
    }
}
.case{
    display: flex;
    background: $Back;
    position: relative;
    margin: 2% 0%;
    padding: 2%;
    border-radius: 4% 4% 4% 4%/15% 15% 15% 15%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height: 36px;
    animation: show 1000ms ease-in-out both;
    p{
        margin: 1% 0%;
    }
    .intituler{
        font-size: 16px;
        font-weight: 600;
    }
    .ingrédiant{
        font-size: 12px;
        font-weight: 400;
    }
    .prix{
        margin-left: auto;
        margin-top: auto;
        font-weight: 600;
        font-size: 14px;
    }
    .valid{
        visibility: hidden;
        position: relative;
        font-size: 13px;
        bottom: 15px;
        left: 8px;
        background: $Tertiaire;
        padding-block: 8%;
        transition: all 200ms;
    }
    .fas{
        color: #FFF;
        position: absolute;
        left: 8px;
        top: 27px;
        transform: rotate(95deg);
    }
    &.n2{
        animation-delay: 500ms;
    }
    &.n3{
        animation-delay: 1000ms;
    }
    &:active{
        .valid{
            visibility: visible;
            padding-inline: 4%;
            margin: 0% 0% 0% 5%;
            transform-origin: right;
            transform: scale(1.5);
        }
        .fas{
            transition: 500ms;
            transform: rotate(0deg);
        }
    }
}
.commander {
    border: none;
    display: block;
    margin: auto;
    padding: 0% 12%;
    border-radius: 12% / 50%;
    background: linear-gradient(174deg, $Secondaire, $Primaire 100%);
    p{
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        margin: 14% 0%;
    }
    &:hover{
        background: linear-gradient(174deg,lighten($Secondaire,10%), lighten($Primaire,10%) 100%);
    }
}
footer{
    background: #000000d1;
    color:#FFF;
    display: flex;
    flex-flow: column;
    padding: 4%;
    .myfood{
        font-family: 'Shrikhand', cursive;
        margin: 0% 0% 3% 0%;
    }
    a{
        color:#FFF;
        margin: 1% 0%;
    }
    i{
        margin: 0% 2% 0% 0%;
    }
    .fa-utensils{
        margin: 0% 4% 0% 0%;
    }
    .fa-handshake{
        transform: rotate(321deg);
    }
}